<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <div class="navbar-brand text-dark"><%= link_to "TO DO LIST",root_path,class:"navbar-band text-light btn btn-dark"%></div>
  </div>
</nav>